#healthInfoBoxWrapper{
  display: none;
}

#hiImagePreview
{
  width: 100%;
  height: 220px;
  background-size: 220px auto;
  background-repeat: no-repeat no-repeat;
  background-position: 50%;
}
