form(action='/uploadFile', method="post", enctype="multipart/form-data")
  input(type="file", name="uploaded") 
  br
  select(name="bucket")
    option b1.test
    option b2.test
  br
  input(type="submit")

