#loginInputBoxWrapper
{
  margin-top: 20px;
  width: 100%;
  height: auto;
}

#loginInputBox
{
  width: 100%;
  height: auto;
}

#logInButton
{
  width: 90%;
  height: 45px;
  background-color: rgb(60, 56, 38);
  color: rgb(224, 231, 213);
  margin-left: 5%;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 25px;
}

#logOutButton
{
  width: 90%;
  height: 45px;
  background-color: rgb(60, 56, 38);
  color: rgb(224, 231, 213);
  margin-left: 5%;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 25px;
  display: none;
}
