.maincanvasImage
{
	background-image: url('../../icon.png');
	background-size: 120px;
	height: 180px;
	position: absolute;
	top: 10px;
	background-position: 50%;
	background-repeat: no-repeat;
	width: 100%
}

#homeButton
{
	background-image:url(../../images/home.png);
	background-repeat: no-repeat; 
	background-size: 45px;
	background-position: 50%;
}

#maincanvasWrapper .maincanvas
{
	top: 180px;
}


.headerTitle
{
	text-shadow: white 1px -1px 1px;
}
	
.menuVisible{
	background-image:url(../../images/menuvisible.png);
	background-repeat: no-repeat;
}

.menuHidden{
	background-image:url(../../images/menuhidden.png);
}

#appInfoButton
{
	background-image:url(../../images/about.png);
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: 50%;  
	display: none;
}


.canvas
{
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 95% 95%;
  background-attachment: fixed;
}


.ui-loader
{
  display: none;
  top: -100px;
  position: absolute;
}
