@headerHeight: 120px;
@listItemHeight: 120px;
@canvasHeight: 930px;
@canvasWidth: 640px;


@layer-overlay: 10000;

.centerThis{
display: block;
top: 0px;
left: 0px;
bottom: 0px;
top: 0px;
margin: auto;
}

.fullScreen
{
width: 100%;
height: 100%;
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
}


.box-shadow (@color: black, @style: 1px 1px 2px) {
  box-shadow:         @style @color;
  -webkit-box-shadow: @style @color;
}


.centerBackground(@size:100%)
{
background-repeat: no-repeat no-repeat;
background-position: 50%;
background-size: @size;
}


.transition(@duration: 700ms)
{
-webkit-transition-duration: @duration;
transition-duration: @duration;
-webkit-transition-property: all;
transition-property: all;
}


.glassFinish
{
background-image: url("../images/fns/glass.png");
background-position:50%;
background-repeat: repeat-x;
}

.sunRayFinish
{
background-image: url("../images/fns/sunrays.png");
background-position:50%;
background-repeat: no-repeat no-repeat;
}

.textureFinish
{
background-image: url("../images/fns/bgFade.png");
background-position:50%;
background-repeat: repeat-x repeat-y;
}
