@import "pallette.less";
@import "fnslibbasic.less";
body
{
background-image: url("../images/fns/bg.png");
width: 100%;
height: 100%;
margin: 0; 
overflow: hidden;
.transition(0s);
font-family: Helvetica;
}
#bodyforApp
{
overflow: hidden;
}
#appWrapper{
.centerThis;
.box-shadow(black, 0px 0px 2px);
overflow: hidden;
user-select:none;
-webkit-user-select:none;
position:relative;
background-color: @sColor2;
background-image: url('../images/fns/Watermark.png');
background-size: 100%;
background-repeat: no-repeat no-repeat;
background-position: 50%;
}
.appWrapperPortraitiPhone
{
height: 960px;
width: 640px;
}
.appWrapperPortraitiPhone_wHeader
{
height: 920px;
width: 640px;
}
.appWrapperLandscapeiPhone
{
width: 960px;
height: 640px;
}
#headerWrapper{
overflow: visible;
height: @headerHeight;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
}
.header
{
position: absolute;
width: 100%;
height: @headerHeight;
background-color: saturate(spin(@pColor3,15%), 30%);
top:0px;
left:0px;
.glassFinish();
.transition(.5s);
border-bottom: 3px rgba(255,255,255,.7) solid;
}
#aboutButton
{
position: relative;
margin-right: 30px;
margin-top: -100px;
right: 40px;
margin-left: 580px;
line-height: 100px;
background-image: url(../images/fns/about.png);
background-size: 30%;
background-position: 50%;
background-repeat: no-repeat no-repeat;
}
#aboutButton:active
{   
background-image: url(../images/fns/abouthover.png); 
background-color: @hiliteColor;
}
#settingsButton{
background-image: url(../images/fns/settings.png);
background-size: 75%;
background-position: 50% -12px;
background-repeat: no-repeat no-repeat;
}
#settingsButton:active
{
background-image: url(../images/fns/settingshover.png); 
background-color: @hiliteColor;
}
.mailList
{
list-style: none;
margin-top: 120px;
padding-bottom: 130px;
}
.mailList li
{
position: relative;
min-height: 10px;
height: auto;
background-color: white;
margin-left: -140px;
width: 120%;
border: solid gray 1px;
padding-left: 140px;
background-size: 50px;
background-position: 50px 50%;
background-repeat: no-repeat no-repeat;
background-image: url(../images/fns/newMail.png);
margin-top: 0px;
font-family: Helvetica;
color: black;
.transition(.2s);
}
.mailList li:active
{
background-color: @hiliteColor;
}
.mailList li p
{
display: block;
width: 480px;
height: auto;
min-height: 10px;
line-height: 50px;
position: relative;
text-overflow: ellipsis;
font-size: 36px;
}
.mailList li h2
{
display: block;
width: 480px;
height: auto;
min-height: 10px;
line-height: 50px;
position: relative;
text-overflow: ellipsis;
font-size: 24px;
left: 30px;
}
.screenWrapper
{
background-color: lighten(@pColor2,15%);
width: 640px;
height: @canvasHeight;
width: @canvasWidth;
position: absolute;
top: 0px;
left: 0px;
.transition(.5s);
}
.closeButton
{
position: absolute;
height: 100px;
width: 100px;
margin-left: 5px;
margin-top: 6px;
.rounded-corners(50px);
background-size: 60%;
background-position: 50% 100%;
background-repeat: no-repeat no-repeat;
background-image: url(../images/fns/close.png);
}
.closeButton:active
{
background-color: @hiliteColor;
background-image: url(../images/fns/closehover.png);
}
.addButton
{
position: absolute;
height: 100px;
width: 100px;
right: 5px;
margin-top: -5px;
.rounded-corners(50px);
background-size: 95%;
background-position: 50% 0px;
background-repeat: no-repeat no-repeat;
background-image: url(../images/fns/add.png);
}
.addButton:active
{
background-color: @hiliteColor;
background-image: url(../images/fns/addhover.png);
}
.subcloseButton
{
position: absolute;
height: 70px;
width: 70px;
line-height: 50px;
margin-left: 10px;
margin-top: 10px;
font-size: 40px;
font-weight: bold;
color: @pColor2;
text-align: center;
.transition(.3s);
}
.subcloseButton:active
{
background-color: @hiliteColor;
}
.doc_title
{
margin-top: 60px;
width: 100%;
text-align: center;
font-size: 50px;
margin-bottom: 70px;
font-weight: bold;
}
.doc_para
{
margin-top: 25px;
margin-bottom: 70px;
width: 85%;
text-align: left;
margin-left: 35px;
font-size: 36px;
line-height: 50px;
font-weight: regular;
}
.htmlContainerFixed
{
overflow: hidden;
width: 640px;
height: 930px;
background-color: black;
}
.htmlContainer
{
overflow: scroll;
width: 640px;
height: 960px;
background-color: lighten(@pColor2, 15%);
}
.HTMLDIV{
height: auto;
top: 0px;
display: block;
position: relative;
background-color: @sColor3;
color: @pColor1;
}
.selectedListItem{
background-color: @pColor2;
color: @hilite;
}
.simpleList
{
list-style: none;
margin-top: 120px;
padding-bottom: 130px;
}
.simpleList li
{
position: relative;
min-height: 10px;
height: auto;
background-color: white;
margin-left: -150px;
width: 120%;
border: solid gray 1px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 140px;
background-position: 40px 50%;
background-repeat: no-repeat no-repeat;
background-image: url(../images/fns/tick.png);
margin-top: 0px;
font-family: Helvetica;
color: black;
.transition(.25s);
}
.simpleList li:active
{
background-color: @hiliteColor;
}
.simpleList li p
{
display: block;
width: 500px;
height: auto;
min-height: 10px;
line-height: 50px;
position: relative;
text-overflow: ellipsis;
font-size: 36px;
}
.specialList li p
{
font-weight: bold;
}
.simpleList li p h1{
margin: 0;
}
.simpleList li h1
{
display: block;
width: 500px;
height: auto;
min-height: 10px;
line-height: 40px;
position: relative;
text-overflow: ellipsis;
font-size: 36px;
text-shadow: white 0px 0px 1px;
text-align: center;
}
.simpleList li h2
{
display: block;
width: 70%;
height: auto;
min-height: 20px;
line-height: 30px;
position: relative;
text-overflow: ellipsis;
font-size: 26px;
color: rgb(50,50,50);
margin-left: 30px;
margin-top: 0px;
}
.subHeader
{
.glassFinish();
background-color: @hiliteColor;
margin-top: @headerHeight;
height: 100px;
color: @pColor1;
}
video
{
width: 200px;
height: 150px;
margin-top: 10px;
margin-left: 175px;
}
.aVideo
{
display: block;
}
.videoWrapper
{
width: 100%;
height: 160px;
}
.alphabetWrapper
{
padding-top: 20px;
height: 175px;
width: 87%;
margin-left: 30px;
}
.searchWrapper
{
padding-top: 20px;
height: 175px;
width: 87%;
margin-left: 30px;
}
.addWrapper
{
padding-top: 20px;
height: 175px;
width: 87%;
margin-left: 30px;
}
.letter
{
position: relative;
width: 23px;
height: 27px;
line-height: 60px;
display: inline-block;
font-size: 20px;
text-align: center;
color: white;
font-weight: bold;
}
#confMessage
{
display: block;
background-color: rgba(0,0,0,.7);
border: 1px solid white;
position: absolute;
.transition(.5s);
width: 100%;
font-size: 30px;
line-height: 60px;
text-align: center;
margin-top: 50px;
margin-left: -10%;
height: @canvasHeight - 100;
.rounded-corners(25px);
color: white;
padding: 0px 70px 0px 70px;
top: 0px;
}
#confMessageQ{
font-weight: bold;
line-height: 50px;  
height: 400px;
width: 80%; 
.centerThis; 
margin-top: 50px;
}
#messagesWrapper
{
bottom: -10px;
position: absolute;
width: 100%;
height: 0px;
overflow: visible;
border-style: none;
list-style: none;
}
.message
{  
.centerThis;
display: block;
border-top: 5px solid white;
position: absolute;
.transition(.8s);
width: @canvasWidth;
font-size: 30px;
line-height: 60px;
text-align: center;
margin-top: -300px;
height: 1000px;
color: white;
top: 0px;
background-color: rgba(0,0,0,.7);
}   
.message p
{
width: 80%;
.centerThis;
margin-top: 40px; 
font-size: 30px; 
color: white;
text-shadow: black 1px 1px 0px; 
text-align: center;
line-height: 40px;
}
  
.message h1
{   
width: 80%;
.centerThis;
margin-top: 20px; 
font-size: 40px; 
color: white;
text-shadow: black 1px 1px 0px; 
text-align: center;
line-height: 50px;
}
.textLabelDate
{
width: 100%;
height: 20px;
text-align: center;
font-size: 16px;
margin-top: 20px;
margin-bottom: 20px;
color: white;
font-weight: bold;
}
.textLabel
{
width: 100%;
height: 40px;
text-align: center;
font-size: 32px;
margin-top: 60px;
margin-bottom: 10px;
color: white;
font-weight: bold;
}
.textFieldTarget
{
min-height: 40px;
min-width: 200px;
max-width: 85%;
width: 70%;
.rounded-corners(20px);
.centerThis;
border: 2px solid gray;
padding: 12px;
font-size: 32px;
text-align: center;
margin-top: 10px;
}
.textArea
{
height: 260px;
width: 80%;
.rounded-corners(20px);
.centerThis;
border: 2px solid gray;
padding: 10px;
font-size: 32px;
text-align: left;
margin-top: 10px;
}

.filtergo
{
background-color: rgb(77,144,255);
width: 125px;
text-align: center;
height: 60px;
font-size: 30px;
line-height: 60px;
color: white;
position: absolute;
.glassFinish;
.rounded-corners(30px);
left: 250px;
top: 20px;
}
#alphaLabel
{
font-size: 80px;
color: white;
top: 7px;
position: absolute;
left: 125px;
width: 100px;
}
#tagsLabel
{
font-size: 50px;
color: white;
top: 10px;
position: absolute;
left: -60px;
width: 420px;
text-align: center;
}
#selectAlpha
{
    opacity: 0;
    position: absolute;
    top: -30px;
}
#selectTags
{
    opacity: 0;
    position: absolute;
    top: -30px;
}