@import "pallette.less";
@import "fnslibbasic.less";
.getInput
{
width: 100%;
height: 100%;
position: absolute;
top: 0px;
.textureFinish;
-webkit-transition-property: none;
.transition(.5s);
}
.textInput
{
.centerThis;
width: 70%;
height: 60px;
text-align: center;
font-size: 28px;
margin-top: 50px;
color: black;
background-color: white;
.rounded-corners(10px);
z-index: @layer-overlay;
}
.iOSButton
{
margin-top: 10px;
margin-left: 12px;
margin-right: 12px;
padding: 20px;
height: auto;
width: auto;
color: white;
background-color: rgb(77,144,255);
display: inline-block;
.rounded-corners(20px);
position: relative;
border: solid 2px rgba(255,255,255,.4);
.box-shadow(gray, 0px 0px 2px);
font-size: 32px;
font-weight: bold;
.glassFinish;
.transition(.1s);
}
.iOSButton:active
{
.sunRayFinish;
color: black;
}
.yes
{  
background-color: rgb(77,144,255);
float: center;
color: white;
.centerThis;
width: 75%; 
margin-top: 60px;
display: block;
text-align: center;  
}
   
.no
{ 
background-color: rgb(209, 72, 54);
float: center;
color: white;
.centerThis;
width: 75%; 
margin-top: 60px;
display: block;
text-align: center;  
}
.unreadMail
{
font-size: 20px;
font-weight: bold;
background-color: transparent;
margin-left: -75px;
margin-right: 20px;
color: @hiliteColor;
}
.refreshButton{
position: absolute;
background-color: none;
height: 100px;
width: 100px;
line-height: 75px;
right: 5px;
margin-top: 5px;
font-size: 50px;
font-weight: regular;
color: @sColor2;
text-align: center;
border: solid 3px transparent;
.rounded-corners(50px);
background-image: none;
background-position:50%;
.transition(.3s); 
background-image: url("../images/fns/refresh.png");  
background-repeat: no-repeat no-repeat;
float: right;  
background-size:90%;
} 
.refreshButton:active
{
background-image: url("../images/fns/refreshhover.png");  
background-color: @hiliteColor;
}
.filterDiv
{
display: none; 
width: 102%;
height: 140px;
position: absolute;
top: 125px;
left: -10px;
background-color: rgba(0,0,0,.7);
border: gray 2px ridge;
.box-shadow(black, 0px 0px 2px); 
padding-left: 5px; 
padding-right: 5px;
.transition(.5s); 
overflow: hidden;
}
.filterHeader
{
top: 0px;
margin-top: 0px;
height: 99%;   
width: 160px;
background-color: transparent; 
display: inline-block;
float: left;
border-right: white 2px ridge;
}   
 
.filterBody
{ 
top: 0px;
margin-top: 15px;
height: 100px;   
width: 400px;
background-color: transparent; 
display: inline-block; 
float: right;
} 
  
.filterBodyScreen
{ 
float: center;
height: 100%;   
width: auto;
width: 100%;
background-color: transparent; 
display: block;
.centerThis;
}
.filterHeaderButton
{
width: 80%;  
height: 30px; 
text-align: center;
line-height: 30px;
margin-top: 5px;
margin-bottom: 10px;
margin-left: 10px;
   color: white;
background-color: transparent;
display: inline-block;
.rounded-corners(15px);
position: relative;
border: solid 2px transparent;
font-size: 24px;
font-weight: bold;
}
.thumbnailButtonLarge{
position: relative;
margin-top: 120px;
margin-bottom: 80px;
margin-left: 120px;
width: 180px;
height: 200px;
display: inline-block;
border: 1px solid transparent;
background-size: 80%;
background-position: 50% 30%;
background-repeat: no-repeat no-repeat;
.transition(.2s);
background-color: transparent;
.rounded-corners(15px);
color : saturate(@pColor2, 70%);
font-weight: bold;
font-size: 34px;
}
.thumbnailButtonLarge:active{
background-position: 50% 0%;
background-size: 100%;
color: gold; 
}
.thumbnailButtonLarge:active
{
background-position: 50% 0%;
background-size: 100%;
color: gold;
}
.thumbnailButtonMedium{
position: relative;
margin-top: 60px;
margin-bottom: 0px;
margin-left: 62px;
margin-right: 0px;
width: 220px;
height: 180px;
display: inline-block;
border: 1px solid transparent;
background-size: 75%;
background-position: 50% 70%;
background-repeat: no-repeat no-repeat;
.transition(.2s);
background-color: transparent;
color : @pColor1;
font-weight: bold;
font-size: 36px;
line-height: 28px;
overflow: visible;
.transition(.2s);
}
   
.thumbnailButtonMedium:active
{
background-size: 90%;
background-position: 50% 10%;
color: gold;
}
.thumbnailButton .buttonLabel
{
text-align: center;
font-family: Helvetica;
display: block;
top: 190px;
height: auto;
width: 300px;
left: -40px;
text-align: center;
background-color: transparent;
position: absolute;
line-height: 40px;
}
.thumbnailButton .notifications{
display: none;
min-width: 30px;
padding: 10px;
width: auto;
border: 5px solid white;
height: 30px;
line-height: 30px;
margin-top: 22px;
margin-left: 145px;
font-size: 35px;
font-weight: bold;
color: white;
background-color: rgb(209, 72, 54);
text-align: center;
position: absolute;
.glassFinish;
.rounded-corners(30px);
padding-left: 12px;
}
.text
{
font-size: 14px;
width: 100%;
text-align: center;
height: auto;
min-height: 20px;
}
#totalChars{
color: white;
height: 25px;
display: block;
padding-top: 20px;
}
#remainingChars{
color: white;
height: 25px;
display: block;
padding-top: 10px;
}
#theTextList
{
min-height: 100px;
height: auto;
width: 100%;
}
#zerothLetter
{
opacity: 0;
display: inline-block;
}
.theDate
{
color: white;
font-size: 70px;
display: block;
width: 110%;
text-align: center;
position: relative;
height: 60px;
top: 60px;
margin-left: -25px;
font-weight: bold;
background-color: transparent;
border: none;
}
.sliderWrapper
{
top: 0px;
left: 0px;
margin-top: 5px;
width: 200px;
height: 60px;
}
.sliderInput
{
opacity: 0;
max-height: 0px;
}
.save
{
background-color: rgb(77,144,255);
float: right;
}
.cancel
{
background-color: rgb(209, 72, 54);
float: left;
}
.go
{
background-color: rgb(77,144,255);
float: center;
color: white;
.centerThis;
width: 75%; 
top: 60px;
text-align: center;
}
.headerTitleText
{
line-height: @headerHeight - 15;
height: 100%;
width: 640px;
color: saturate(@sColor2, 10%);
text-align: center;
font-family: Helvetica;
text-shadow: rgba(0,0,0,1) 0px 1px 20px;
font-weight: bold;
font-size: 48px;
position: absolute;
display: block;
top: 2px;
}
.aScreen
{
display: none;
width: 100%;
height: 100%;
position: absolute;
top: 0px;
.transition(.5s);
}  
#activityIndicator
{
 width: 100%;
height: 100%;
position: absolute;
top: 0px;
.transition(.2s); 
background-color: rgba(0,0,0,.2);  
display: none;
}
  
#theActivityIndicator
{
 width: 100%;
height: 100%;
top: 0px;
background-color: transparent; 
.centerThis;
background-image: url("../images/fns/ActivityIndicator.png"); 
background-repeat: no-repeat no-repeat;
background-position: 50% 50%;
background-size: 100px;
-webkit-animation: infinite-spinning 1s infinite linear;
}   
.eventListener
{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
cursor: pointer;
max-height: 700px;
}
.filterScreen
{
width: 100%;
height: 100%;
position: absolute;
display: block;
}
.arrow
{
width: 50px;
height: 80px;
position: absolute;
top: 7px;
font-size: 90px; 
color: white;
text-align: center;
line-height: 75px;
.rounded-corners(50px);
} 
#alphaRight  
{
float: right;
margin-left: 320px;
}
#alphaLeft  
{ 
float: left;
margin-left: -70px;
}
.filterinput
{
font-size: 32px;
max-width: 260px;
height: 60px;
top: 14px;
position: absolute;
left: -60px;
.rounded-corners(15px);
}
#appReset
{
    top: 420px;
}
#splashScreen
{
z-index: 1000000;
.fullScreen;
background-position: 50% 20%;
background-size: 90%;
background-repeat: no-repeat;
display: block;
background-color: lighten(@pColor2,5%);
position: absolute;
overflow: visible;
.transition(.7s);
min-width: 320px;
min-height: 480px;
background-image: url(../images/icon.png);
margin: 0px;
text-align: center;
color: white;
font-size: 20px;
line-height: 750px;
}
.filterListWrapper
{
background-color: transparent;
background-image: none;
border-style: none;
margin-bottom: 125px;
opacity: 0;
}