@import "pallette.less";
@import "fnslibbasic.less";

.heading
{
width: 90%;
text-align: center;
font-size: 44px;
line-height: 74px;
margin-left:5px;
margin-top: 50px;
margin-bottom: 50px;
font-family: Helvetica;
font-weight: bold;
}
.subheading
{
line-height: 45px;
width: 90%;
text-align: left;
font-size: 36px;
margin-left:10px;
margin-top: 30px;
margin-bottom: 20px;
font-family: Helvetica;
font-weight: regular;
}
.subsubheading
{
line-height: 35px;
width: 90%;
text-align: left;
font-size: 32px;
margin-left:10px;
margin-top: 20px;
margin-bottom: 20px;
font-family: Helvetica;
font-weight: regular;
}
.para
{
width: 90%;
line-height: 50px;
text-align: left;
font-size: 28px;
margin-top: 10px;
margin-left: 30px;
margin-bottom: 10px;
font-family: Helvetica;
font-weight: regular;
}

p
{
line-height: 35px;
width: 90%;
text-align: left;
font-size: 14px;
margin-top: 10px;
margin-left: 30px;
margin-bottom: 10px;
font-family: Helvetica;
font-weight: regular;
}
.imageCaption{
text-align: center;
font-size: 12px;
font-weight: bold;
width: 90%;
margin-top:10px;
margin-bottom:10px;
}
.image
{
margin-left: auto;
margin-right: auto;
display: block;
width: 100%;
height: 300px;
background-position: 50%;
background-repeat: no-repeat no-repeat;
background-size: auto 100%;
}
#iFrameHTML li
{
line-height: 35px;
width: 85%;
margin-top: 20px;
margin-bottom: 20px;
    font-size: 36px;
    line-height: 55px;
}
.footer
{
margin-top: 100px;
margin-bottom: 0px;
margin-left: 40px;
width: 90%;
font-size: 12px;
color: gray;
}
     
     
     
   
.blankPage
{
height: 1000px;
width: 100%;
}   
.loadingBox
{
margin-top: 120px; 
width: 100%; 
text-align: center; 
height: 100px; 
font-size: 60px; 
color: gray; 
}

.mainMenuButton{
position: relative;
margin-top: 120px;
margin-bottom: 80px;
margin-left: 90px;
width: 200px;
height: 200px;
display: inline-block;
border: 1px solid transparent;
background-size: 80%;
background-position: 50% 30%;
background-repeat: no-repeat no-repeat;
.transition(.2s);
}
.mainMenuButton:active{
background-size: 100%;
color: saturate(@pColor1, 80%);
}
#notificationsButton{
background-image: url(../images/notificationsBG.png);
}

#gamesButton{
background-image: url(../images/gamesBG.png);
}

#followUpButton{
background-image: url(../images/followUpBG.png);
}

#ERNavButton{
background-image: url(../images/ERFlowBG.png);
    margin-top: 120px;
}
#healthInfoButton{
background-image: url(../images/healthInfoBG.png);
}
#myHealthRecordsButton{
background-image: url(../images/myHealthRecordBG.png);
}
#hititle
{
text-align:right;
width:600px;
}


.diseaseContainer{
position: relative;
min-height: 100px;
height: auto;
}
.diseaseContainerWrapper{
position: absolute;
top: 150px;
min-height: 100px;
height: 810px;
overflow: scroll;
}

.alphaResults{
min-height: 1000px;
height: auto;
}

#aboutImage
{
background-image: url(../images/icon.png);
background-repeat: no-repeat no-repeat;
background-position: 50%;
background-size: 680px;
min-height: 640px;
width: 100%;
margin-top: 160px;
background-color: transparent;
}

#FNSImage
{
background-image: url(../images/foxyninjastudioslogo.png);
background-repeat: no-repeat no-repeat;
background-position: 50%;
background-size: 400px;
min-height: 420px;
width: 100%;
margin-top: -20px;
padding-bottom: 160px;
background-color: transparent;
}

.subheaderTitle
{
position: absolute;
top: 145px;
height: 50px;
width: 100%;
color: @pColor1;
font-size: 36px;
text-align: center;
font-weight: bold;
}
#doneERNavDetails
{
top: 130px;
font-size: 32px;
}
#doneERNavDetails:active
{
background-image: none;
background-color: transparent;
}
 #videoDetails
{
.centerThis();
position: relative;
margin-top: 70px;
min-height: 200px;
height: auto;
line-height: 36px;
width: 90%;
color: white;
font-size: 26px;
font-style: italic;
background-color: transparent;
text-align: center;
padding-bottom: 80px;
}
#aboutHTML{
top: -80px;
padding-bottom: -10px; 
}
#videoDetailsWrapper
{
height: 580px;
width: 102%;
overflow: scroll;
}
#videoButton
{
width: 90%;
text-align: center;
display: block;
.glassFinish;
height: 120px;
line-height: 120px;
background-color: @hilite;
color: @pColor1;
font-size: 50px;
.rounded-corners(20px);
.centerThis;
margin-top: 30px;
}
#settingsPref
{            
display: none;
margin-bottom: 60px;
}
#doneGames
{
margin-top: 780px;
height: 80px;
line-height: 20px;
font-size: 36px;
}
#gamesWrapper
{
width: 100%;
height: 100%;
display: block;    
position: absolute;
top: 0px;
left: 0px;
border-style: none;
background-color: black;
}
  

#gamesScreen
{
width: 100%;
height: 100%;
display: block;    
position: absolute;
top: 0px;
left: 0px;
border-style: none;
background-color: black;
}

#iFrameHTML
{
margin-top: 20px;
background-color: white;
padding-left: 20px;
padding-top: 20px;
padding-bottom: 100px;
line-height: 50px;
font-size: 36px;
text-align: center;
}
#iFrameWrapper{
width: 100%;
height: 810px;
top: 60px;
position: absolute;
margin-top: 100px;
}
#iFrameTitle
{           
z-index: 10000;
.centerThis;
position: relative;
width: 80%;
margin-top: 20px;
font-size: 44px; 
}               
#iFrameSH{
top: 0px;
position: absolute;
width: 100%; 
}

#doneiFrame{
margin-top: -60px;
line-height: 70px;
margin-left: 12px;
}
#filterAddNewButton
{
left: -200px;
}
#customTextLabel
{
margin-top: -10px;
}
#searchLabel{
display: block;
color: white;
margin-top: 0px;
position: absolute;
text-align: center;
top: -30px;
left: 45px;
}

.agreeWrapper
{
font-size: 36px;
position: absolute;
color: white;
line-height: 48px;
width: 80%;
top: 90px;
text-align: center;
left: 50px;
}
.agreeHTML
{
top: 120px;
}