#headerPreview
{
  height: 60px;
  width: 100%;
  font-weight: bold;
  text-shadow: none;
}

#settingsPreview
{
  height: 60px;
  width: 60px;
  float: left;
  line-height: 50px;
  font-size: 50px;
  text-align: center;
}

#aboutPreview
{
  height: 60px;
  width: 60px;
  float: right;
  line-height: 57px;
  font-size: 40px;
  font-style: italic;
  font-family: Times;
  text-align: center;
}

#headerTitlePreview
{
  line-height: 40px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

#headerTitlePreview2
{
  text-align: center;
  margin-top: -5px;
}

#appPreview
{
  width: 100%;
  margin-top: 60px;
  margin-left: 10px;
  max-width: 400px;
  height: 460px;
}
