body{
	font-family: Helvetica;
	font-size: 14px;

}
.heading
{
	width: 100%;
	text-align: left;
	font-size: 24px;
	margin-left:5px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: Helvetica;
	font-weight: bold;
}

.subheading
{
	width: 100%;
	text-align: left;
	font-size: 20px;
	margin-left:10px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: Helvetica;
	font-weight: regular;
}

.subsubheading
{
	width: 100%;
	text-align: left;
	font-size: 16px;
	margin-left:10px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: Helvetica;
	font-weight: regular;
}

.para
{
	width: 90%;
	text-align: left;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 10px;
	font-family: Helvetica;
	font-weight: regular;
}


.address
{
	width: 100%;
	text-align: left;
	font-size: 16px;
	margin-left:10px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: Helvetica;
	font-weight: regular;
}

.phone
{
	width: 100%;
	text-align: left;
	font-size: 16px;
	margin-left:10px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: Helvetica;
	font-weight: regular;
}

.ext
{
	width: 100%;
	text-align: left;
	font-size: 16px;
	font-family: Helvetica;
	font-weight: regular;
}

.website
{
	width: 100%;
	text-align: left;
	font-size: 16px;
	font-family: Helvetica;
	font-weight: regular;
	font-color: blue;
}


p
{
	width: 90%;
	text-align: left;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 10px;
	font-family: Helvetica;
	font-weight: regular;
}

.imageCaption{
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	margin-top:10px;
	margin-bottom:10px;
}

.image
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	height: 300px;
	background-position: 50%;
	background-repeat: no-repeat no-repeat;
	background-size: auto 100%;

}

li strong
{
line-height:20px;
margin-top:10px;
}

.footer
{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
	width: 90%;
	font-size: 12px;
	color: gray;
}